venv/
.env
__pycache__/
*.pyc

# Ignore local databases and user-uploaded storage files
data/*
!data/.gitkeep

storage/*
!storage/avatars/
!storage/resources/
storage/avatars/*
!storage/avatars/.gitkeep
storage/resources/*
!storage/resources/.gitkeep

.pytest_cache/
.mypy_cache/
.DS_Store
